<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Configuración general de la aplicación -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TezoExplorer"
        tools:targetApi="31">

        <!-- Pantalla de bienvenida (splash screen) que se muestra al iniciar la aplicación -->
        <activity
            android:name=".ActivitySplash"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla principal de la app (MainActivity), probablemente utilizada para el inicio de sesión -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Pantalla de registro de nuevos usuarios -->
        <activity android:name=".RegisterActivity" />

        <!-- Pantalla de navegación principal con acceso a diferentes servicios -->
        <activity android:name=".Principal" />

        <!-- Actividad para mostrar los detalles de un ítem o negocio específico -->
        <activity android:name=".DetailActivity" />

        <!-- Actividades para mostrar listas de servicios específicos como farmacias, bancos, hoteles, mecánicos, restaurantes y tiendas -->
        <activity
            android:name=".FarmaciasActivity"
            android:label="Lista de Farmacias"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".BancosActivity"
            android:label="Lista de Bancos"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".HotelesActivity"
            android:label="Lista de Hoteles"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".MecanicosActivity"
            android:label="Lista de Mecánicos"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".RestaurantesActivity"
            android:label="Lista de Restaurantes"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".TiendasActivity"
            android:label="Lista de Tiendas"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>

    <!-- Permiso para acceder a Internet, necesario para Firebase o solicitudes de red -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
